{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pinvith</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body><center>
    <h1>
        welcome to u pevinth kumar

    </h1>
    <img src="{% static 'images/257.jpg' %}" alt="257 images">
    <img src="{% static 'images/ram-charan.jpg' %}" alt="ram-charan images">
    
</center>
    
</body>
</html>